# Ignore everything by default, contrib sources are coming from other places
*

# Include specific files that should be tracked by Git
!.gitignore
!tcp-aqm-config/
!tcp-aqm-config/**

# Re-exclude python bytecode caches inside the contrib module
tcp-aqm-config/**/__pycache__/
tcp-aqm-config/**/*.pyc
